<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>

    <title>Junk Food Creates Junk</title>
</head>
<body>
    <!-- Slide 1  -->
    <div class="slide">
        <div class="title-div">
            <h1 class="title">Junk food creates</h1>
            <img class="title-image" src="/images/title-logo.png">
        </div>

        <img class="image1" src="/images/food1.png">
    </div>

    <br>
    <br>
    <br>
    <br>

    <!-- Slide 2 -->
    <div class="slide">
        <h2 class="sub-title">How unhealthy food affects the environment</h2>
        <p class="text1">We might not even be aware of the numerous ways that eating fast food endangers the environment. We can't ignore how much junk food is wasted or the volatile organic compound (VOC) emissions that are produced during the production of fast food, packaging, and delivery. This problem can be greatly reduced by switching to traditional farming methods, consuming less fuel, and eating better.</p>
        <img class="image1" src="/images/food1.png">
    </div>
</body>
</html>