<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Junk Food Creates Junk</title>
</head>
<body>
    <img class="image" src="images/1.svg">
    <img class="image" src="images/2.svg">
    <img class="image" src="images/3.svg">
    <img class="image" src="images/4.svg">
    
    <div style="margin-top: 3%;">

    <div>
        <h2 class="mla-title">References</h2>
        <br>
        <cite>1. Majumdar, Bambi. “The Environmental Impact of Unhealthy Foods - Multibriefs.” The Environmental Impact of Unhealthy Foods, MultiBriefs , <a href="https://exclusive.multibriefs.com/content/the-environmental-impact-of-unhealthy-foods/food-beverage">https://exclusive.multibriefs.com/content/the-environmental-impact-of-unhealthy-foods/food-beverage</a> (01.03.2023). </cite>
        <cite>2. Dutta, Avik. “Junk Foods and Beverages - from Supplements to Environment: Treats or Threats.” Ballygunge Society for Environment & Development, 27 July 2020, <a href="https://bsed.org.in/junk-foods-and-beverages-from-suppliments-to-environment-treats-or-threats/#:~:text=The%20negative%20impacts%20of%20food,pollution%20and%20solid%20waste%20pollution">https://bit.ly/3L9ttWq</a> (01.03.2023).</cite>
        <cite>3. “Junk Food Consumption Wastes Energy.” Wellness Resources - Highest Quality Nutritional Supplements for Weight, Thyroid, Leptin, Health - Wellness Resources, <a href="https://www.wellnessresources.com/studies/junk-food-consumption-wastes-energy ">https://www.wellnessresources.com/studies/junk-food-consumption-wastes-energy </a>(02.03.23). </cite>
        <cite>4. Lark, Rachel. “5 Ways the Fast Food Industry Affects the Environment.” Environment Co, 23 Sept. 2022, <a href="https://environment.co/fast-food-affect-environment/">https://environment.co/fast-food-affect-environment/</a> (02.03.23).</cite>
        <cite>5. “How Much Energy Does an Average Restaurant Use Every Year?” Energy Solutions, 27 Mar. 2021, <a href="https://www.energybrokers.co.uk/news/energy-efficiency/how-much-energy-does-an-average-restaurant-use-every-year">https://www.energybrokers.co.uk/news/energy-efficiency/how-much-energy-does-an-average-restaurant-use-every-year</a> (02.03.2023).</cite>
        <cite>6. “How Quick-Service Restaurants Can Cut Energy Costs.” QSR Magazine, <a href="“How Quick-Service Restaurants Can Cut Energy Costs.” QSR Magazine, https://www.qsrmagazine.com/outside-insights/how-quick-service-restaurants-can-cut-energy-costs (02.03.2023).">https://www.qsrmagazine.com/outside-insights/how-quick-service-restaurants-can-cut-energy-costs</a> (02.03.2023).</cite>
    </div>

    <div style="margin-top: 5%;">

</body>
</html>