.slide{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    text-align: center;
}

.title-image{
    width: 10%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    float: right;
}

.title{
    color: #206632;
    font-size: 72px;
}

.image1{
    width: 50%;
}

.sub-title{
    color: #206632;
    font-size: 50px;
}

.text1{
    text-align: left;
    width: 40%;
    margin-left: 5%;
}