body{
    background-color: #c9e265;
    font-family: "Alice";
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 95%;
    height: 95%;
}

.mla-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

cite{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    margin-bottom: 1%;
}

a{
    text-decoration: none;
    color: blue;
}

@media only screen and (max-width: 480px) {
    .image{    
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        height: 100%;
    }

    .mla-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
        font-family: Arial, Helvetica, sans-serif;

        font-size: 5%;
    }
    
    cite{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    
        font-family: Arial, Helvetica, sans-serif;

        font-size: 1%;

        margin-bottom: 1%;
    }
}