body{
    background-color: #c9e265;
    font-family: "Alice";
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 95%;
    height: 95%;
}

.mla-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

cite{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    margin-bottom: 1%;
}

a{
    text-decoration: none;
    color: blue;
}
